{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    {% if user %}
    <div class="col-md-4 col-md-offset-2">
      <div class="panel">
        <div class="panel-body">
          <h3>{{user.name}}'s Balance:</h3>
          <h5>{{user.shopDollars}} Shop Dollars</h5>
          <a href="/account/request" role="button" class="btn btn-default">Withdraw Money &raquo;</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel">
        <div class="panel-body">
          <h3>Recent Withdrawal Requests:</h3>
          {% if user.requests|length %}
          {% for request in user.requests %}
            <p>Date: {{ request.date }}</p>
            <p>Amount: {{ request.amount }}</p>
            {% if request.approved %}
            <p style="color: darkgreen;">Aproved</p>
            {% else %}
            <p style="color: darkred;">Denied</p>
            <p>Reason: {{ request.denyreason }}</p>
            {% endif %}
          {% endfor %}
          {% else %}
          <h5>You haven't requested to withdraw any shop dollars yet.</h5>
          {% endif %}
        </div>
      </div>
    </div>
    {% else %}
    <div class="col-md-4 col-md-offset-4">
      <div class="panel">
        <div class="panel-body">
          <div class="panel-body">
            <h3>Please sign in to view your balance.</h3>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
