{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  {% if messages.success %}
  <div role="alert" class="alert alert-success">
    {% for success in messages.success %}
    <div>{{ success.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.error %}
  <div role="alert" class="alert alert-danger">
    {% for error in messages.error %}
    <div>{{ error.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  {% if messages.info %}
  <div role="alert" class="alert alert-info">
    {% for info in messages.info %}
    <div>{{ info.msg }}</div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel">
        {% if user %}
        <div class="panel-body">
          <h3>{{user.name}}'s Balance:</h3>
          <p>{{user.shopDollars}} Shop Dollars</p>
          <a href="/request" role="button" class="btn btn-default">Request Withdrawal &raquo;</a>
        </div>
        {% else %}
        <div class="panel-body">
          <h3>Please sign in using the navbar to view your balance.</h3>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
